@import url("https://fonts.googleapis.com/css2?family=Cormorant+Unicase:wght@700&family=Poppins&display=swap");

:root {
  --font-title: "Cormorant Unicase", serif;
  --font-body: "Poppins", sans-serif;
  --text-color: hsl(0, 0%, 80%);
}

* {
  padding: 0;
  margin: 0;
}

body {
  margin: 4rem;
  background-color: hsl(0, 0%, 15%);
  overflow-x: hidden;
}

header h1 {
  font-family: var(--font-title);
  text-transform: uppercase;
  font-size: 4rem;
  position: relative;
  text-align: center;
  color: var(--text-color);
  padding: 1rem 0rem;
  margin: 3rem 0rem;
}

header h1::after {
  content: "";
  position: absolute;
  background-color: hsl(0, 0%, 20%);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 4rem;
  box-shadow: 0rem 0rem 0rem 0.1rem hsl(0, 0%, 80%),
    0rem 2.5rem 1rem -2rem hsl(0, 0%, 5%);
}

.news-container {
  background-color: hsl(0, 0%, 20%);
  border-radius: 4rem;
  box-shadow: 0rem 0rem 0rem 0.1rem hsl(0, 0%, 80%),
    0rem 2.5rem 1rem -2rem hsl(0, 0%, 5%);
  font-family: var(--font-body);
  color: var(--text-color);
  padding: 3rem;
  margin: 3rem 0rem;
  text-align: justify;
  overflow: auto;
}

.source {
  float: right;
}

.date {
  float: right;
  clear: right;
}

.title {
  font-family: var(--font-title);
  font-size: 2rem;
  text-align: center;
  clear: both;
}

.description {
  text-align: center;
}

a {
  float: right;
  padding: 1rem;
  text-decoration: none;
  color: var(--text-color);
  border-radius: 4rem;
  box-shadow: 0rem 0rem 0rem 0.1rem hsl(0, 0%, 80%);
  margin-top: 1rem;
}

@media (max-width: 550px) {
  body {
    margin: 0.2rem;
  }
  header h1 {
    font-size: 2rem;
  }
  header h1::after {
    border-radius: 1.2rem;
  }
  .news-container {
    padding: 1rem;
    font-size: 0.6rem;
    border-radius: 1.2rem;
  }
  .title {
    font-size: 1rem;
    text-align: left;
  }
  .description {
    text-align: justify;
  }
  a {
    padding: 0.5rem;
    border-radius: 1.2rem;
  }
}
